@keyframes shuffle {
  0% { transform: translate(5px, 0px) rotate(0deg); }
  10% { transform: translate(-5px, 0px) rotate(0deg); }
  20% { transform: translate(4px, 0px) rotate(0deg); }
  30% { transform: translate(-4px, 0px) rotate(0deg); }
  40% { transform: translate(3px, 0px) rotate(0deg); }
  50% { transform: translate(-3px, 0px) rotate(0deg); }
  60% { transform: translate(2px, 0px) rotate(0deg); }
  70% { transform: translate(-2px, 0px) rotate(0deg); }
  80% { transform: translate(1px, 0px) rotate(0deg); }
  90% { transform: translate(-1px, 0px) rotate(0deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}

@keyframes spin {
  4% { transform: translate(0px, 0px) rotate(0deg); }
  8% { transform: translate(0px, 0px) rotate(2deg); }
  12% { transform: translate(0px, 0px) rotate(5deg); }
  16% { transform: translate(0px, 0px) rotate(9deg); }
  20% { transform: translate(0px, 0px) rotate(15deg); }
  24% { transform: translate(0px, 0px) rotate(23deg); }
  28% { transform: translate(0px, 0px) rotate(34deg); }
  32% { transform: translate(0px, 0px) rotate(49deg); }
  36% { transform: translate(0px, 0px) rotate(68deg); }
  40% { transform: translate(0px, 0px) rotate(90deg); }
  44% { transform: translate(0px, 0px) rotate(117deg); }
  48% { transform: translate(0px, 0px) rotate(148deg); }
  52% { transform: translate(0px, 0px) rotate(180deg); }
  56% { transform: translate(0px, 0px) rotate(212deg); }
  60% { transform: translate(0px, 0px) rotate(243deg); }
  64% { transform: translate(0px, 0px) rotate(270deg); }
  68% { transform: translate(0px, 0px) rotate(292deg); }
  72% { transform: translate(0px, 0px) rotate(311deg); }
  76% { transform: translate(0px, 0px) rotate(326deg); }
  80% { transform: translate(0px, 0px) rotate(337deg); }
  84% { transform: translate(0px, 0px) rotate(345deg); }
  88% { transform: translate(0px, 0px) rotate(351deg); }
  92% { transform: translate(0px, 0px) rotate(355deg); }
  96% { transform: translate(0px, 0px) rotate(358deg); }
  100% { transform: translate(0px, 0px) rotate(360deg); }
}

@keyframes reverseSpin {
  4% { transform: translate(0px, 0px) rotate(0deg); }
  8% { transform: translate(0px, 0px) rotate(-2deg); }
  12% { transform: translate(0px, 0px) rotate(-5deg); }
  16% { transform: translate(0px, 0px) rotate(-9deg); }
  20% { transform: translate(0px, 0px) rotate(-15deg); }
  24% { transform: translate(0px, 0px) rotate(-23deg); }
  28% { transform: translate(0px, 0px) rotate(-34deg); }
  32% { transform: translate(0px, 0px) rotate(-49deg); }
  36% { transform: translate(0px, 0px) rotate(-68deg); }
  40% { transform: translate(0px, 0px) rotate(-90deg); }
  44% { transform: translate(0px, 0px) rotate(-117deg); }
  48% { transform: translate(0px, 0px) rotate(-148deg); }
  52% { transform: translate(0px, 0px) rotate(-180deg); }
  56% { transform: translate(0px, 0px) rotate(-212deg); }
  60% { transform: translate(0px, 0px) rotate(-243deg); }
  64% { transform: translate(0px, 0px) rotate(-270deg); }
  68% { transform: translate(0px, 0px) rotate(-292deg); }
  72% { transform: translate(0px, 0px) rotate(-311deg); }
  76% { transform: translate(0px, 0px) rotate(-326deg); }
  80% { transform: translate(0px, 0px) rotate(-337deg); }
  84% { transform: translate(0px, 0px) rotate(-345deg); }
  88% { transform: translate(0px, 0px) rotate(-351deg); }
  92% { transform: translate(0px, 0px) rotate(-355deg); }
  96% { transform: translate(0px, 0px) rotate(-358deg); }
  100% { transform: translate(0px, 0px) rotate(-360deg); }
}
/*
@keyframes fullspin {
    2% { transform: translate(0px, 0px) rotate(0deg); }
    4% { transform: translate(0px, 0px) rotate(2deg); }
    6% { transform: translate(0px, 0px) rotate(5deg); }
    8% { transform: translate(0px, 0px) rotate(9deg); }
    10% { transform: translate(0px, 0px) rotate(15deg); }
    12% { transform: translate(0px, 0px) rotate(23deg); }
    14% { transform: translate(0px, 0px) rotate(34deg); }
    16% { transform: translate(0px, 0px) rotate(49deg); }
    18% { transform: translate(0px, 0px) rotate(68deg); }
    20% { transform: translate(0px, 0px) rotate(90deg); }
    22% { transform: translate(0px, 0px) rotate(117deg); }
    24% { transform: translate(0px, 0px) rotate(148deg); }
    26% { transform: translate(0px, 0px) rotate(180deg); }
    28% { transform: translate(0px, 0px) rotate(212deg); }
    30% { transform: translate(0px, 0px) rotate(243deg); }
    32% { transform: translate(0px, 0px) rotate(270deg); }
    34% { transform: translate(0px, 0px) rotate(292deg); }
    36% { transform: translate(0px, 0px) rotate(311deg); }
    38% { transform: translate(0px, 0px) rotate(326deg); }
    40% { transform: translate(0px, 0px) rotate(337deg); }
    42% { transform: translate(0px, 0px) rotate(345deg); }
    44% { transform: translate(0px, 0px) rotate(351deg); }
    46% { transform: translate(0px, 0px) rotate(355deg); }
    48% { transform: translate(0px, 0px) rotate(358deg); }
    50% { transform: translate(0px, 0px) rotate(360deg); }
    52% { transform: translate(0px, 0px) rotate(0deg); }
    54% { transform: translate(0px, 0px) rotate(-2deg); }
    56% { transform: translate(0px, 0px) rotate(-5deg); }
    58% { transform: translate(0px, 0px) rotate(-9deg); }
    60% { transform: translate(0px, 0px) rotate(-15deg); }
    62% { transform: translate(0px, 0px) rotate(-23deg); }
    64% { transform: translate(0px, 0px) rotate(-34deg); }
    66% { transform: translate(0px, 0px) rotate(-49deg); }
    68% { transform: translate(0px, 0px) rotate(-68deg); }
    70% { transform: translate(0px, 0px) rotate(-90deg); }
    72% { transform: translate(0px, 0px) rotate(-117deg); }
    74% { transform: translate(0px, 0px) rotate(-148deg); }
    76% { transform: translate(0px, 0px) rotate(-180deg); }
    78% { transform: translate(0px, 0px) rotate(-212deg); }
    80% { transform: translate(0px, 0px) rotate(-243deg); }
    82% { transform: translate(0px, 0px) rotate(-270deg); }
    84% { transform: translate(0px, 0px) rotate(-292deg); }
    86% { transform: translate(0px, 0px) rotate(-311deg); }
    88% { transform: translate(0px, 0px) rotate(-326deg); }
    90% { transform: translate(0px, 0px) rotate(-337deg); }
    92% { transform: translate(0px, 0px) rotate(-345deg); }
    94% { transform: translate(0px, 0px) rotate(-351deg); }
    96% { transform: translate(0px, 0px) rotate(-355deg); }
    98% { transform: translate(0px, 0px) rotate(-358deg); }
    100% { transform: translate(0px, 0px) rotate(-360deg); }
  }
  */

body {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    background-image: url("images/USS_Missouri.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position::absolute;
    background-size: cover;
    margin: 0;
}

.sidebar {
    height: 100%;
    width: 125px;
    position: fixed;
    z-index: 1;
    background-image: url("images/dashboard_sidebar_background.jpg");
    color:white;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.content {
    margin-left: 125px;
    position:relative;
}

.timeScriptLocal {
    padding: 2px 6px 2px 6px;
    text-decoration: none;
    font-size: 40px;
    background: rgba(0, 0, 0, 0.6);
    display: block;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight:bold;
    color: white;
    text-align: center;
}

.timeTitleLocal {
    padding: 2px 12px 2px 12px;
    text-decoration: none;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.6);
    display: block;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight:bold;
    color:white;
    text-align: center;
    border-bottom: 3px dotted #cd7f32;
}

.timeScript {
    padding: 2px 8px 2px 8px;
    text-decoration: none;
    font-size: 24px;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight:bold;
    color:white;
    text-align: center;
}

.timeTitle {
    padding: 2px 12px 2px 12px;
    text-decoration: none;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.6);
    display: block;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight:bold;
    color:white;
    text-align: center;
    border-bottom: 3px dotted #cd7f32;
}

.gitHubLink {
    padding: 2px 12px 2px 12px;
    text-decoration: none;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.6);
    display: block;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight:bold;
    color:white;
    text-align: center;
}

.gitHubLink:hover {
    color:#cd7f32;
}

.bronzeText {
    color:#cd7f32;
}

.sidebarButton {
    padding: 6px 12px 6px 12px;
    text-decoration: none;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.6);
    display: block;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color:white;
    text-align: center;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.weather {
    width:99%;
    padding:5px;
}
.stocks {
    padding: 5px;
    width:99%;
}

.currencyNewsRow {
    padding: 5px;
    width:99%;
}

.currency {
    padding: 5px 5px 0px 5px;
    //display: inline-block;
    float:left;
}
.news {
    padding: 5px 0px 5px 5px;
    //display: inline-block;
    float:right;
}

/*Start of App dropdown menu code*/
.dropbtn {
    padding: 5px;
    width: 40px;
    height: 40px;
    border: solid;
    border-width: thin;
    border-radius:100%;
    border-color: #cd7f32;
    background-color: #cd7f32;
    cursor: pointer;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.dropbtn:hover {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    animation: spin 0.75s;
}

.dropbtn:not(:hover) {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    animation: reverseSpin 0.75s;
}

.projectsDropdown {
    padding: 50px 0px 50px 40px;
    position: fixed;
    left: 200px;
    //display: inline-block;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius:4%;
    float:left;
    background-color: #cd7f32; 
    color: white;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.dropdown a:hover {
    background-color: #ddd;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.show {
    display: block;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
/*End of dropdown App Menu code*/

/*Start of about modal code*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.aboutButton {
    background-color: #cd7f32;
    border: none;
    color: white;
    border-radius:4%;
    padding: 9px 12px 9px 12px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.aboutButton:hover, .aboutButton:focus {
    color: #cd7f32;
    background-color: white;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    background-image: none;
    animation: shuffle 1.0s;
}

/* Modal Content */
.modalContent {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height:auto;
  border-radius: 0.5%;
}


/* The Close Button */
.modalClose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*End of about modal code*/

/*Start of App modal code*/
.appModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.appButton {
    padding: 5px;
    width: 40px;
    height: 40px;
    border: solid;
    border-width: thin;
    border-radius:100%;
    border-color: #cd7f32;
    background-color: #cd7f32;
    cursor: pointer;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.appButton:hover {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    border: solid;
    border-width: thin;
    border-color: white;
}

/* Modal Content */
.appContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height:auto;
}

.appClose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.appClose:hover,.appClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*End of app modal code*/

/*Start: media queries to adjust site for different screen sizes*/
@media (min-width: 300px) and (max-width: 500px) {
    .weather{
      padding: 60px 0;
    }
    .news {display:none;}
    .currency {display:none;}
    .stocks{display:none;}
}

@media (min-width: 800px) and (min-height: 400px) and (max-width: 900px) and (max-height:500px) {
    .news {display:none;}
    .timeScriptLocal{display:none;}
    .timeTitleLocal {display:none;}
    .timeScript {
        font-size: 30px;
    }
}

@media (min-width: 501px) and (max-width: 1800px) {
    .news {
        padding: 5px 5px 5px 5px;
        display: inline-block;
        float:left;
        }
}
/*End: media queries to adjust site for different screen sizes*/
