body {
    font-family: "Lato", sans-serif;
    //background-color: #F4F3F5;
    background-image: url("images/background.jfif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position::absolute;
    background-size: cover;
}

.sidebar {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    //background-color: #00843D;
    background-image: url("images/dashboard_sidebar_background.jpg");
    color:white;
    overflow-x: hidden;
    padding-top: 20px;
    font-family: Trebuchet MS;
    //border-right: 5px dotted #cd7f32;
}

.timeScriptLocal {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 40px;
    //background-color: #00843D;
    background: rgba(0, 0, 0, 0.6);
    display: block;
    font-family: Trebuchet MS;
    color: white;
    text-align: center;
}

.timeScript {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    //background-color: #00843D;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    font-family: Trebuchet MS;
    color:white;
    text-align: center;
}
.timeTitle {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    //background-color: #00843D;
    background: rgba(0, 0, 0, 0.6);
    display: block;
    font-family: Trebuchet MS;
    color:white;
    text-align: center;
    border-bottom: 5px dotted #cd7f32;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.weather {
    margin-left: 150px; /* Same as the width of the sidebar  */
    padding: 5px;
}
.stocks {
    margin-left: 150px; /* Same as the width of the sidebar */
    padding: 5px;
}
.currencyNewsRow {
    margin-left: 150px; /* Same as the width of the sidebar */
}
.currency {
    //width: 465px;
    //height: 465px;
    margin-left: 150px;
    padding: 5px 5px 5px 5px;
    display: inline-block;
    float:left;
}
.news {
    //width: 550px;
    //height: 625px;
    margin-left: 150px;
    padding: 5px 5px 5px 5px;
    display: inline-block;
    float:right;
}

@media (min-width: 300px) and (max-width: 500px) {
    .news {display:none;}
    .currency {display:none;}
    .stocks{display:none;}
}
@media (min-width: 501px) and (max-width: 1800px) {
    .news {
        //width: 550px;
        //height: 625px;
        margin-left: 150px;
        padding: 5px 5px 5px 5px;
        display: inline-block;
        float:left;
        }
}
/*
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
*/

.dropbtn {
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius:100%;
    border: none;
    cursor: pointer;
    font-family:Trebuchet MS;
    //background-color: #097414;
    background-image: url("images/dashboard_sidebar_background.jpg");
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #0F831B;
    font-family: Trebuchet MS;
}

.projectsDropdown {
    float: right;
    position: relative;
    display: inline-block;
    font-family: Trebuchet MS;
}

.dropdown-content {
    display: none;
    position: absolute;
    //background-color: #0F831B;
    background-image: url("images/dashboard_sidebar_background.jpg"); 
    color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
    font-family: Trebuchet MS;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Trebuchet MS;
}

.dropdown a:hover {
    background-color: #ddd;
    font-family: Trebuchet MS;
}

.show {
    display: block;
    font-family: Trebuchet MS;
}

#rcornerscurrency {
    border-radius: 5px;
    background-color: #FFCD00;
    //margin:0 auto;
    padding: 5px; 
    width: 90%;
    height: 90%;
    margin-left: 50px;
}

#rcornersnews {
    border-radius: 5px;
    background-color: #582c83;
    //margin:0 auto;
    padding: 5px; 
    width: 90%;
    height: 90%;
    margin-left: 50px;
}

/*https://news.google.com/news/rss/search/section/q/united+states%7Cpolitics%7Ceconomy%7crobert+mueller%7cnew+hampshire%7cmaine?ned=us&gl=US&hl=en*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.aboutButton {
    background-color: #cd7f32;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Modal Content */
.modalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height:auto;
}

/* The Close Button */
.modalClose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

