@keyframes shuffle {
  0% { transform: translate(5px, 0px) rotate(0deg); }
  10% { transform: translate(-5px, 0px) rotate(0deg); }
  20% { transform: translate(4px, 0px) rotate(0deg); }
  30% { transform: translate(-4px, 0px) rotate(0deg); }
  40% { transform: translate(3px, 0px) rotate(0deg); }
  50% { transform: translate(-3px, 0px) rotate(0deg); }
  60% { transform: translate(2px, 0px) rotate(0deg); }
  70% { transform: translate(-2px, 0px) rotate(0deg); }
  80% { transform: translate(1px, 0px) rotate(0deg); }
  90% { transform: translate(-1px, 0px) rotate(0deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}

@keyframes spin {
  4% { transform: translate(0px, 0px) rotate(0deg); }
  8% { transform: translate(0px, 0px) rotate(2deg); }
  12% { transform: translate(0px, 0px) rotate(5deg); }
  16% { transform: translate(0px, 0px) rotate(9deg); }
  20% { transform: translate(0px, 0px) rotate(15deg); }
  24% { transform: translate(0px, 0px) rotate(23deg); }
  28% { transform: translate(0px, 0px) rotate(34deg); }
  32% { transform: translate(0px, 0px) rotate(49deg); }
  36% { transform: translate(0px, 0px) rotate(68deg); }
  40% { transform: translate(0px, 0px) rotate(90deg); }
  44% { transform: translate(0px, 0px) rotate(117deg); }
  48% { transform: translate(0px, 0px) rotate(148deg); }
  52% { transform: translate(0px, 0px) rotate(180deg); }
  56% { transform: translate(0px, 0px) rotate(212deg); }
  60% { transform: translate(0px, 0px) rotate(243deg); }
  64% { transform: translate(0px, 0px) rotate(270deg); }
  68% { transform: translate(0px, 0px) rotate(292deg); }
  72% { transform: translate(0px, 0px) rotate(311deg); }
  76% { transform: translate(0px, 0px) rotate(326deg); }
  80% { transform: translate(0px, 0px) rotate(337deg); }
  84% { transform: translate(0px, 0px) rotate(345deg); }
  88% { transform: translate(0px, 0px) rotate(351deg); }
  92% { transform: translate(0px, 0px) rotate(355deg); }
  96% { transform: translate(0px, 0px) rotate(358deg); }
  100% { transform: translate(0px, 0px) rotate(360deg); }
}

@keyframes reverseSpin {
  4% { transform: translate(0px, 0px) rotate(0deg); }
  8% { transform: translate(0px, 0px) rotate(-2deg); }
  12% { transform: translate(0px, 0px) rotate(-5deg); }
  16% { transform: translate(0px, 0px) rotate(-9deg); }
  20% { transform: translate(0px, 0px) rotate(-15deg); }
  24% { transform: translate(0px, 0px) rotate(-23deg); }
  28% { transform: translate(0px, 0px) rotate(-34deg); }
  32% { transform: translate(0px, 0px) rotate(-49deg); }
  36% { transform: translate(0px, 0px) rotate(-68deg); }
  40% { transform: translate(0px, 0px) rotate(-90deg); }
  44% { transform: translate(0px, 0px) rotate(-117deg); }
  48% { transform: translate(0px, 0px) rotate(-148deg); }
  52% { transform: translate(0px, 0px) rotate(-180deg); }
  56% { transform: translate(0px, 0px) rotate(-212deg); }
  60% { transform: translate(0px, 0px) rotate(-243deg); }
  64% { transform: translate(0px, 0px) rotate(-270deg); }
  68% { transform: translate(0px, 0px) rotate(-292deg); }
  72% { transform: translate(0px, 0px) rotate(-311deg); }
  76% { transform: translate(0px, 0px) rotate(-326deg); }
  80% { transform: translate(0px, 0px) rotate(-337deg); }
  84% { transform: translate(0px, 0px) rotate(-345deg); }
  88% { transform: translate(0px, 0px) rotate(-351deg); }
  92% { transform: translate(0px, 0px) rotate(-355deg); }
  96% { transform: translate(0px, 0px) rotate(-358deg); }
  100% { transform: translate(0px, 0px) rotate(-360deg); }
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("images/USS_Missouri.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position::absolute;
    background-size: cover;
    margin: 0;
}

.sidebar {
    height: 100%;
    width: 125px;
    position: fixed;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    color:white;
}

.content {
    margin-left: 125px;
    position:relative;
}

.timeScriptLocal {
    padding: 2px 6px 2px 6px;
    text-decoration: none;
    font-size: 40px;
    display: block;
    font-weight:bold;
    color: white;
    text-align: center;
}

.timeTitleLocal {
    padding: 2px 12px 2px 12px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    font-weight:bold;
    color:white;
    text-align: center;
    border-bottom: 3px dotted #cd7f32;
}

.timeScript {
    padding: 2px 8px 2px 8px;
    text-decoration: none;
    font-size: 24px;
    display: block;
    font-weight:bold;
    color:white;
    text-align: center;
}

.timeTitle {
    padding: 2px 12px 2px 12px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    font-weight:bold;
    color:white;
    text-align: center;
    border-bottom: 3px dotted #cd7f32;
}

.sidebarLink {
    padding: 6px 12px 6px 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    font-weight:bold;
    color:white;
    text-align: center;
}

.sidebarLink:hover {
    color:#cd7f32;
}

.bronzeText {
    color:#cd7f32;
}

.sidebarButton {
    padding: 6px 12px 6px 12px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color:white;
    text-align: center;
}

.weather {
    padding: 5px 10px 5px 10px;
}

.stocks {
    padding: 5px 10px 5px 10px;
}

.currency {
    padding: 5px 0px 5px 5px;
    display: block;
    float:left;
}

.news {
    padding: 5px 0px 5px 5px;
    display: block;
    float:right;
}

/*Start of App dropdown menu code*/
.dropbtn {
    padding: 5px;
    width: 40px;
    height: 40px;
    border: solid;
    border-width: thin;
    border-radius:100%;
    border-color: white;
    background-color: white;
    cursor: pointer;
}

.dropbtn:hover {
    animation: spin 0.75s;
    background-color: lightgrey;
}

.dropbtn:not(:hover) {
    animation: reverseSpin 0.75s;
}

#circularBtn {
    padding: 5px;
    width: 40px;
    height: 40px;
    border: solid;
    border-width: thin;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 100%;
    border-color: white;
    background-color: white;
    color: black;
    cursor: pointer;
}

#circularBtn:hover {
    animation: shuffle 1.0s;
    color: black;
    background-color: lightgrey;
    border-color: lightgrey;
}

.projectsDropdown {
    padding: 50px 0px 50px 40px;
    position: fixed;
    left: 200px;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius:4%;
    float:left;
    background-color: #cd7f32; 
    color: white;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
/*End of dropdown App Menu code*/


.aboutButton {
    background-color: #cd7f32;
    border: none;
    color: white;
    border-radius:4%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.aboutButton:hover, .aboutButton:focus {
    color: #cd7f32;
    background-color: white;
    background-image: none;
    animation: shuffle 1.0s;
}

/*Start: media queries to adjust site for different screen sizes*/
@media (max-width:1780px) {
    .news{
        float:left;
    }
    
    .stocks {
        max-width: 810px;
    }

    .weather {
        max-width: 810px;
    }
}
/*End: media queries to adjust site for different screen sizes*/
/*
@media (min-width: 300px) and (max-width: 500px) {
    .weather{
      padding: 60px 0;
    }
    .news {display:none;}
    .currency {display:none;}
    .stocks{display:none;}
}

@media (min-width: 800px) and (min-height: 400px) and (max-width: 900px) and (max-height:500px) {
    .news {display:none;}
    .timeScriptLocal{display:none;}
    .timeTitleLocal {display:none;}
    .timeScript {
        font-size: 30px;
    }
}

@media (min-width:500px) and (max-width:1421px) {
    .weather {max-width: 810px;
    }
    .stocks {max-width: 810px;
    }
    .news {
        padding: 5px 5px 5px 5px;
        display: inline-block;
        float:left;
    }
}
*/